# Dependencies & build
node_modules/
dist/
dist-ssr/
backend/target/
.tools/

# Environment
.env
.env.local
.env.*.local
application-local.yml
backend.env


# Logs
*.log
npm-debug.log*

# OS & editors
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Temp
*.local
